

body {
color: rgb(255, 255, 255);
background: #732222;
font-family: Roboto, Helvetica, Arial, sans-serif;
text-align: center;
}

a {
    color: yellow;
}

.navbar_1{
    padding: 10px;
    background: #732222;
    border-radius: 5px;
    margin: 20px auto;
    display: inline-flex;
    height: auto;
}

.item {
    color: #fff;
    padding: 15px;
    margin: 5px;
    background: #3db5da;
    border-radius: 3px;
}